@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: fit-content;
  background-color: rgb(9, 9, 9);
  scroll-behavior: smooth;
}
nav {
  width: 100%;
  height: 50px;
  top: 0;
  background-color: rgba(29, 28, 28);
  position: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  word-spacing: 1ch;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid rgb(113, 112, 112);
  z-index: 1000;
}
nav li {
  display: inline-block;
  margin: 0 8px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: green;

  margin: 5px;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
    position: absolute;
    z-index: -500;
    top: 20px;
    right: 0;
    height: 400px;
    width: 100%;
    text-align: center;
  }
  nav li {
    padding-top: 5%;
  }

  nav ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.logo {
  font-size: 30px;
  font-weight: 900;
  font-family: "Great Vibes", cursive;
  text-shadow: 3ch solid white;

  background-color: green;
  height: 80px;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav ul li a {
  background-color: green;
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
}
.menu-line {
  height: 3px;
  width: 20px;
  background-color: green;
  margin-bottom: 3px;
}
.menu {
  cursor: pointer;
  display: none;
}
a:hover {
  background-color: green;
  border-radius: 15px;
  transition: 0.5s;
}

#landing-page {
  background-image: url(header.bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  background-attachment: fixed;
}

#know-button {
  height: 50px;
  width: 190px;
  background-color: green;
  border-radius: 5px;
  font-size: 100%;
  box-shadow: 1ch green;
  justify-content: space-around;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  border: 0.5px solid green;
}

#name {
  padding-top: 10%;
  margin-left: 1px;
  font-family: "Tangerine", cursive;
  font-weight: 400%;
  font-style: normal;
  font-size: 550%;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  background-color: (0, 0, 0, 0.855);
}
#ocupp {
  margin-top: 5px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  font-size: 150%;
  text-align: center;
}
#know {
  font-family: "Lobster", cursive;
  font-size: 100%;
  color: azure;
  text-align: center;
}
#about {
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(9, 9, 9);
  height: auto;
  width: 100%;
}
#intro {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;

  font-size: 200%;
  color: azure;
  text-align: center;
}
#quote {
  font-family: "Lobster", cursive;
  font-size: 100%;
  color: azure;
  text-align: center;
}
#profile {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  color: rgb(255, 255, 255);
  word-spacing: 0.3ch;
  text-align: justify;
  font-size: 120%;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 3ch;
}
#skills {
  background-attachment: fixed;
  background-image: url(skilsbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
}
#subheading {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 130%;
  color: azure;

  padding-top: 5%;
  text-align: center;
}
#skillslist {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  color: azure;
}
#logo {
  width: auto;
  height: auto;
}
#list1 {
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  word-spacing: 0.3ch;
  text-align: justify;
  font-size: 130%;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 3ch;
  width: 55%;
  margin-left: 0%;
}

#educationheading {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 200%;
  color: azure;

  padding-top: 5%;
  text-align: center;
}

.timeline {
  list-style: none;
  padding: 20px 10px 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1.5px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 40px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  position: relative;
  float: left;
  width: 42%;
  background: #0f0f0f;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 2px rgb(212, 210, 210);
  box-shadow: 0 2px 6px rgb(138, 131, 131);
  text-align: right;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 52px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 52px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-image {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(232, 232, 231, 0.2);
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  top: 20px;
  left: 50%;
  margin-left: -50px;
  background-color: green;
  z-index: 100;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(232, 232, 231, 0.1);
  box-shadow: 0 1px 3px rgba(212, 251, 223, 0.1);
}

.timeline > li .timeline-image .timeline-content {
  margin-top: 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li:last-child {
  margin-bottom: 20px;
}

.timeline-title1 {
  margin-bottom: 10px;
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.title2 {
  color: white;
  font-family: "Alegreya", serif;
  font-weight: 580;
  font-size: 22px;
  line-height: 35px;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
  font-family: "Alegreya", serif;
  font-size: 16px;
  letter-spacing: 1px;
}
.timeline-title1 {
  font-size: 150%;

  color: white;
  font-family: "Times New Roman", Times, serif;
  text-transform: none;
}

#timeline-body {
  font-size: 140%;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
}
@media (max-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  .timeline-title1 {
    margin-top: 10px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .timeline:before {
    left: 22%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    float: right;
    width: 60%;
    padding: 0 20px 20px 30px;
    text-align: left;
  }
  .timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline > li .timeline-image {
    left: 20%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline-title1 {
    margin-top: 10px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
#exce {
  background-attachment: fixed;
  background-image: url(contactbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

#contact {
  background-color: rgb(9, 9, 9);
  width: 100%;
  text-align: center;
  display: flex;
}
#cont-form {
  align-items: center;
  width: 50%;
}
form {
  margin-top: 10%;
  margin-left: 15%;
  height: 950px;
  width: 60%;
  background-color: green;
  border-radius: 15px;
}
#fromh3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(176, 255, 177);
  font-size: 150%;
  text-transform: uppercase;
  padding-top: 10%;
  padding-left: 5%;
  margin: 0;
}
#fromh1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(254, 254, 254);
  font-size: 350%;
  font-weight: bolder;
  margin: 0;
  padding-left: 5%;
}
#lbl {
  padding-left: 5%;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}
#formname {
  margin-left: 5%;
  font-size: larger;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  width: 80%;
  padding: 10px 5px;
}
input::placeholder {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
#email {
  margin-left: 5%;
  font-size: larger;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  width: 80%;
  padding: 10px 5px;
}
#message {
  margin-left: 5%;
  font-size: larger;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 300px;
  width: 80%;
  resize: none;
  padding: 10px 5px;
}
textarea::placeholder {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#submit {
  height: 50px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: green;
  border: 1px solid white;
  border-radius: 15px;
}
#cont-content {
  width: 50%;
}
#cont-subheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  color: white;
  text-transform: uppercase;
  margin-top: 15%;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background-color: green;
}

@media (max-width: 769px) {
  #contact {
    display: inline;
  }

  #cont-form {
    width: 100%;
  }

  #cont-content {
    width: 100%;
  }

  form {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
  }
  #table1 {
    margin-left: 0;
  }
  #java-tbl {
    width: 80px;
    height: 80px;
  }
  #html-tbl {
    width: 50px;
    height: 50px;
  }
  #js-tbl {
    width: 50px;
    height: 50px;
  }
  #css-tbl {
    width: 50px;
    height: 50px;
  }
  #sql-tbl {
    width: 50px;
    height: 50px;
  }
  #eclipse-tbl {
    width: 50px;
    height: 50px;
  }
  #vss-tbl {
    width: 50px;
    height: 50px;
  }
}
